<div>
<div class="perfilContainer">
    <div class="perfilContainer__Datos">
        <div class="imgContainer imgPerfilContainer">
            <img src="" alt="Foto de Perfil">
        </div>
        <p class="perfilContainer__Datos-Nombre">{{usuario.nombre}}</p>
        <p class="perfilContainer__Datos-Titulo">{{usuario.titulo}}</p>
    </div>
    <div class="perfilContainer__Descripcion">
        <p class="perfilContainer__Descripcion-Titulo">Sobre mi</p>
        <p>{{usuario.resumenPerfil}}</p>
    </div>
</div>
</div>