.fotoPerfil{
    --size:15rem;
    height: var(--size);
    width: var(--size);
}
.fotoPerfilUbicacion{
    top: -7rem;
}
.espaciadoPerfil{
    height: 7rem;
}
.margenInferiorNegativo{
    margin-bottom: -5rem;
}