<div class="bg-dark text-light px-2 py-1">
    <div class="text-center">
        <h2>Gracias por llegar hasta el final</h2>
        <p class="h4">Puedes contactarme al Whatsapp: +543704094646</p>
    </div>
    <p class="footer-text">* Los porcentajes en las habilidades representan lo cómodo que me siento trabajando con esta tecnología y lo fácil que me resulta añadir conocimientos nuevos a mi repertorio o investigar sobre soluciones a problemas del desarrollo. Es importante admitir que no es posible saber por completo un lenguaje. Solo se puede esperar adquirir más soltura en el empleo del mismo con la práctica.</p>
</div>
