<div class="navBar">
    <div>
        <div class="argPrograma">
            <div class="argPrograma__logo">
                <img src="/assets/images/icons/arg-programa.png" alt="Logo de Argentina Programa">
            </div>
            <p>Argentina Programa - #YoProgramo</p>
        </div>
    </div>
    <div class="navBar__item">
        <div class="iconContainer">
            <div class="iconContainer__item">
                <a href="https://www.google.com">
                    <img src="/assets/images/icons/linkedin.png" alt="">
                </a>
            </div>
            <div class="iconContainer__item">
            </div>
        </div>
        <div class="btn_loginContainer">
            <button class="btn_login">Iniciar Sesión</button>
        </div>
    </div>
</div>
<div class="imgContainer imgBannerContainer">
    <img src="" alt="Imagen del Banner">
</div>
