<div class="row">
    <div class="col border border-1 border-warning">1</div>
    <div class="col border border-1 border-warning">2</div>
    <div class="col border border-1 border-warning">3</div>
    <div class="col border border-1 border-warning">4</div>
    <div class="col border border-1 border-warning">5</div>
    <div class="col border border-1 border-warning">6</div>
    <div class="col border border-1 border-warning">7</div>
    <div class="col border border-1 border-warning">8</div>
    <div class="col border border-1 border-warning">9</div>
    <div class="col border border-1 border-warning">10</div>
    <div class="col border border-1 border-warning">11</div>
    <div class="col border border-1 border-warning">12</div>
</div>
<div class="container-fluid navegacion bg-light user-select-none">
    <div class="row h-100">
        <div class="col-4 row row-cols-3 h-100 align-items-center">
            <div class="h-100 col-4 float-end pr-0">
                <img class="p-1" src="/assets/images/icons/arg-programa.png" alt="Logo de Argentina Programa">
            </div>
            <div class="col-8 align-items-center p-0">
                <p class="text-start m-0">Argentina Programa-#YoProgramo</p>
            </div>
        </div>
        <div class="col"></div>
        <div class="h-100 col-3">
            <div class="h-100 float-end">
                <a class="h-100" href="https://www.google.com">
                    <img class="p-1" src="/assets/images/icons/linkedin.png" alt="Link a Linkedin">
                </a>
            </div>
        </div>
        <div class="col-auto px-0 h-100">
            <button class="btn btn-light width-100 h-100 mx-0">Iniciar Sesión</button>
        </div>
    </div>
    <div class="row banner bg-gradient bg-dark">
        <img src="" alt="Imagen del Banner">
    </div>
</div>


