<div class="container-fluid navegacion bg-light user-select-none position-relative overflow-hidden z-2">
    <div class="row h-100 ">
        <div class="col-4 row row-cols-3 h-100 align-items-center">
            <div class="h-100 col-4 float-end pr-0">
                <img class="p-1 h-100" src="/assets/images/icons/arg-programa.png" alt="Logo de Argentina Programa">
            </div>
            <div class="col-8 align-items-center p-0">
                <p class="text-start m-0">Argentina Programa-#YoProgramo</p>
            </div>
        </div>
        <div class="col"></div>
        <div class="h-100 col-3">
            <div class="h-100 float-end">
                <!-- Iconos de redes sociales -->
                <a class="h-100" href="https://www.google.com">
                    <img class="p-1 h-100" src="/assets/images/icons/linkedin.png" alt="Link a Linkedin">
                </a>
                <!-- Fin de Iconos de redes sociales -->
            </div>
        </div>
        <div class="col-auto px-0 h-100">
            <button class="btn btn-light h-100 mx-0" *ngIf="!modoEdicion" (click)="onLogin()">Iniciar Sesión</button>
            <button class="btn btn-light h-100 mx-0" *ngIf="modoEdicion" (click)="onLogout()">Cerrar Sesión</button>
        </div>        
    </div>    
</div>
<app-login class="" [existe]="mostrarLogin"></app-login>
<div class="container-fluid banner bg-gradient bg-dark p-0 overflow-hidden position-relative">
    <div class="position-absolute w-100 top-0 end-0 z-2">        
        <!-- Control para entrar al modo edición -->
        <app-header-edit-btns 
            (edit)="comenzarAEditar()"
            [onlyEdit]="true"
            [visible]="modoEdicion&&!editando"></app-header-edit-btns>
        <!-- Colocamos los botones de guardado arriba de la imagen -->
        <app-footer-edit-save
            [visible]="modoEdicion"
            [onlySaveAndCancel]="true"
            [saveDisable]="desactivarGuardar()"
            [visibleSave]="editando"
            (guardar)="saveUsuario()"
            (cancelar)="cancel()"></app-footer-edit-save>
    </div>
    <app-img-edit-btns
        class="position-absolute z-2"
        [mostrarControles]="editando"
        [ocultarBotones]="ocultarBotonesGuardarImg()"
        [mostrarSpinner]="cargandoImagen()"
        (inputChange)="catchFileEvent($event)"
        (cargar)="onCargarImg()"
        (cancelar)="onCancelarImg()"></app-img-edit-btns>
    <img class="w-100" [src]="item.img_banner" alt="Imagen del Banner">      


