<div *ngIf="visible">
    <div class="row" *ngIf="!onlySaveAndCancel">
        <div class="col">        
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary" (click)="newItemEvent()">Agregar Nuevo Elemento</button>
        </div>
    </div>
    <div class="row" *ngIf="visibleSave">
        <div class="col">        
        </div>
        <div class="col-3 mb-2">
            <button (click)="guardarEvent()" class="btn btn-success me-3">Guardar cambios</button>
            <button (click)="cancelarEvent()" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</div>
