<div class="container-fluid mt-2">
    <app-header-edit-btns 
        (edit)="comenzarAEditar()"
        (delete)="borrar()"
        [visible]="modoEdicion&&!editando"></app-header-edit-btns>
    <div class="row">
        <div class="offset-1 col-2 h-100 d-flex flex-column overflow-hidden">
            <img class="img-fluid" [src]=item.img_logo alt="Logo del Proyecto">
            <app-img-edit-btns
                [mostrarControles]="editando"
                [ocultarBotones]="hayArchivosParaCargar()"
                (inputChange)="catchFileEvent($event)"
                (cargar)="onCargarImg()"
                ></app-img-edit-btns>
        </div>
        <div class="col">
            <h3 class="fs-3">{{item.nombre}}</h3>    
                <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5 " type="text"
                    #inputNombre
                    [value]="item.nombre"
                    (keyup)="cambiandoNombre(inputNombre.value)" name="" id=""></div>         
            <p>Periodo: {{item.fecha}}</p>
                <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5 " type="text"
                    #inputFecha
                    [value]="item.fecha"
                    (keyup)="cambiandoFecha(inputFecha.value)" name="" id=""></div> 
            <p>Descripción del Proyecto:</p>
            <p class="offset-1">{{item.descripcion}}</p>
                <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5 " type="text"
                    #inputDescripcion
                    [value]="item.descripcion"
                    (keyup)="cambiandoDescripcion(inputDescripcion.value)" name="" id=""></div> 
            <a target="_blank" href="{{item.link}}">LINK AL PROYECTO</a>
                <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5 " type="text"
                    #inputLink
                    [value]="item.link"
                    (keyup)="cambiandoLink(inputLink.value)" name="" id=""></div> 
        </div>
    </div>
    <div class="row justify-content-center text-center" *ngIf="editando">
        <div>
            <button class="btn btn-success m-1 mt-0 " [disabled]="!sePuedeGuardar()"  (click)="guardarCambios()">Guardar Cambios</button>
            <button class="btn btn-secondary m-1 mt-0" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>
