<div class="container-fluid mt-2">
    <app-header-edit-btns 
            (edit)="comenzarAEditar()"
            (delete)="borrar()"
            [visible]="modoEdicion&&!editando"></app-header-edit-btns>
    <div class="row">
        <div class="offset-1 col-2">
            <img src="" alt="Logo de Experiencia">
        </div>
        <div class="col">
            <h3 class="fs-3">{{item.puestoNombre}}</h3>
            <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5" type="text"
                    #inputPuesto
                    [value]="item.puestoNombre"
                    (keyup)="cambiandoPuesto(inputPuesto.value)" name="" id=""></div>
            <p>Lugar: {{item.lugarNombre}}</p>
            <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5" type="text"
                    #inputLugar
                    [value]="item.lugarNombre"
                    (keyup)="cambiandoLugar(inputLugar.value)" name="" id=""></div>            
            <p>Periodo: {{item.periodo}}</p>
            <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5" type="text"
                    #inputPeriodo
                    [value]="item.periodo"
                    (keyup)="cambiandoPeriodo(inputPeriodo.value)" name="" id=""></div> 
            <p>Descripción de las tareas:</p>
            <p class="offset-1">{{item.descripcion}}</p>
            <div *ngIf="editando" class="row">
                <input class="col mb-3 ms-2 me-5 " type="text"
                    #inputDescripcion
                    [value]="item.descripcion"
                    (keyup)="cambiandoDescripcion(inputDescripcion.value)" name="" id=""></div> 
        </div>
    </div>
    <div class="row justify-content-center text-center" *ngIf="editando">
        <div>
            <button class="btn btn-success m-1 mt-0 " (click)="guardarCambios()">Guardar Cambios</button>
            <button class="btn btn-secondary m-1 mt-0" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>
